{% extends "base.twig" %}


{% block content %}
    <script>localStorage.setItem('connected', false)</script>
    <h1 class="mb-4">{{ page_title }}</h1>
    <BR>

    <div class="alert alert-success" role="alert">
        Votre compte a été supprimé avec succès.
    </div>
{% endblock %}
